.errorPage{
    position: relative;
    width: 100%;
    margin: 0;
}

.errorPage img{
    width: 100%;
    margin: 0;
}

.errorPage h1{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
}